@model LeverageRulesViewModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.PageTitle = "PayInOutRequest";
    ViewBag.Method = "PayInOutRequest";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class="col-3">
                    <div class="btn btn-uppercase float-left" style="padding:0px;">
                        <div class="form-group">

                            @Html.DropDownList("Id", new SelectList(ViewBag.UsersList, "Value", "Text", "Id"), "-- Select User --", new { @class = "form-control" ,@id="UserId" })
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="btn btn-uppercase float-left">
                        <div class="form-group">
                            <label>From Date:</label>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="btn btn-uppercase float-left" style="padding:0px;">
                        <div class="form-group">
                            <div class="input-group date" id="fromdate" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="fdate" data-target="#fromdate">
                                <div class="input-group-append" data-target="#fromdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="btn btn-uppercase float-left">
                        <div class="form-group">
                            <label>To Date:</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn btn-uppercase float-left" style="padding:0px;">
                        <div class="form-group">
                            <div class="input-group date" id="todate" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="tdate" data-target="#todate">
                                <div class="input-group-append" data-target="#todate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button id="btnAddQue" type="button" class="btn btn-outline-secondary btn-uppercase float-right" onclick="AddFilter();">
                        <i class="ti-plus mr-2"></i>Search
                    </button>
                </div>
            <div class="col-12">
                @*<button id="btnAddPay" type="button" class="btn btn-outline-primary btn-uppercase float-right mt-1">
                    <i class="ti-plus mr-2"></i>Add Payout Request
                </button>*@
                    <a id="btnAddPay" href="/PayInoutRequest/AddPayoutRequest" type="button" class="btn btn-outline-primary btn-uppercase float-right">
                        <i class="ti-plus mr-2"></i> Add Payout Request
                    </a>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="payInOutList" class="table table-bordered table-striped">
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section Scripts{
    <script src="~/js/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>


        $(document).ready(() => {

            $('#fromdate').datetimepicker({
                format: 'DD-MM-YYYY'
            });

            $('#todate').datetimepicker({
                format: 'DD-MM-YYYY'
            });

            PayInOutDataTable.init('', '', '');

    
            $(document).on("submit", "#payInOutForm", function (e) {

                debugger;
                e.preventDefault();

                var form = $(this);
                form.ajaxSubmit({
                    beforeSubmit: function () {
                        if (!form.valid()) {

                            return false;
                        }
                        else {

                            return true;
                        }
                    },
                    success: function (res) {
                        debugger;
                        if (res[0].code == 200) {
                            $("#frmModel").modal('hide');
                            $("#ansForm").resetForm();

                            PayInOutDataTable.init()

                            NotifyMsg('success', res[0].message);
                           
                        } else {
                            NotifyMsg('error', res[0].message);
                          
                        }
                    },
                    Errors: function () {
                        NotifyMsg('error', res[0].message);
                        
                    }
                });
                return false;
            });
        });
        var PayInOutDataTable = function (userId, fromDate, toDate) {
            let initTable1 = function () {
                let table = $('#payInOutList');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '/PayInoutRequest/PayoutRequest_All',
                        type: "post",
                        data: { UserId: userId, FromDate: fromDate, ToDate: toDate }
                    },
                    "columns": [

                        {
                            "title": "UserName", "data": "userName", "orderable": false, "width": "3%"
                        },
                        {
                            "title": "RequestType", "data": "requestName", "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Amount", "data": "amount", "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Customer Note", "data": "customerNote", "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Current Balance", "data": "currentBalance", "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "id",
                            "render": function (data, type, row) {

                                //let htmlData = "";
                                //if (row.requestType == 'OUT') {
                                //    if (row.currentBalance >= row.amount) {
                                //        htmlData += `<button title="Approve" class="btn btn-sm btn-success mr-1" onclick="AddNote('${(row["id"])}','${(row["userId"])}','${(row["requestType"])}','${(row["amount"])}','Approved','${(row["currentBalance"])}');" > <i class="fa fa-check" > </i></button > `;
                                //    }
                                //}
                                //else {
                                //    htmlData += `<button title="Approve" class="btn btn-sm btn-success mr-1" onclick="AddNote('${(row["id"])}','${(row["userId"])}','${(row["requestType"])}','${(row["amount"])}','Approved','${(row["currentBalance"])}');" > <i class="fa fa-check" > </i></button > `;
                                //}
                                //htmlData += `<button title="Reject" class="btn btn-sm btn-danger mr-1" onclick="AddNote('${(row["id"])}','${(row["userId"])}','${(row["requestType"])}','${(row["amount"])}','Rejected','${(row["currentBalance"])}');"><i class="fa fa-times"></i></button>`;

                                var htmlData = "<div class='btn-group dropleft'>";
                                htmlData += "<a class='btn btn-success mr-1' href='/PayInoutRequest/Edit?Id=" + row.id + "' data-uri='/PayInoutRequest/Edit?Id=" + row.id + "' ><i class='fa fa-edit'></i></a>";

                                htmlData += "<a class='btn btn-danger edt-dlt mr-1' href='javascript:void(0);' data-uri='/PayInoutRequest/DeletePayout?Id=" + row.id + "' ><i class='fa fa-trash'></i></a>";
                                htmlData += "</div>";

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20, 1000],
                        [5, 10, 15, 20, 1000] // change per page values here
                    ],
                    // set the initial value

                    //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                init: function (UserId, FromDate, ToDate) {
                    debugger;
                    if ($.fn.DataTable.isDataTable("#payInOutList")) {
                        $('#payInOutList').dataTable().fnDestroy();
                        userId = UserId;
                        fromDate = FromDate;
                        toDate = ToDate;
                        //$('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function AddNote(id, userId, type, amount, status, currentBalance) {
            debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("PayInOutNote","PayInoutRequest")",
                data: { Id: id, UserId: userId, Amount: amount, Status: status, RequestType: type, CurrentBalance: currentBalance },
                dataType: 'html',
                success: function (response) {

                    if (response != "undefined") {
                        $("#frmModel .modal-body").html(response);
                        $("#frmModel .modal-title").text('Add Note');
                        $("#frmModel").modal({ backdrop: 'static', keyboard: false });
                        $("#frmModel").focus();

                    }

                },
                error: function (error) {
                    console.log('error', error);

                }
            })
        }

        function AddFilter() {
        

            var fromdate = $('#fdate').val();
            var todate = $('#tdate').val();
            var UserId = $('#UserId').val();

            if (fromdate != '' && todate != '') {
                var fdateAr = fromdate.split('-');
                var tdateAr = todate.split('-');
                var newFromDate = fdateAr[2] + '-' + fdateAr[1] + '-' + fdateAr[0].slice(-2);
                var newToDate = tdateAr[2] + '-' + tdateAr[1] + '-' + tdateAr[0].slice(-2);
                fromdate = newFromDate;
                todate = newToDate;
                newFromDate = new Date(newFromDate);
                newToDate = new Date(newToDate);
                if (newFromDate > newToDate) {

                    Toast.fire({
                        icon: 'error',
                        title: " " + 'Please select greter than To Date'
                    })
                    return false;
                }
            }
            if (fromdate != "" && todate == "") {

                NotifyMsg('error', 'Please select to date');
               
                return false;
            }
            if (todate != "" && fromdate == "") {

                NotifyMsg('error', 'Please select from date');
                return false;
            }

            PayInOutDataTable.init(UserId, fromdate, todate);


        }
    </script>
}
