.Loader {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	background-color: rgba(199, 199, 199, 0.4);
}
.loadingImage {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.error {
	color: #f22d2d;
}
