@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
         <div class="card">
            <div class="card-header">
                <h3 class="card-title">User Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="UsersList" class="table table-bordered table-striped">                   
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
